<!--S T A R T -->
<% if( quiz.state === "start") { %>
<h1><span >Welcome</span></h1>
<h2>During this video you will be presented with a Quiz,Good Luck!</h2>
<div class='rectangle-box'>
    <div class='rectangle-content'>
        <div><span>
            <a href="#" data-click="continuePlay">Continue</a>
        </span></div>
    </div>
</div>


<% } %>
<!--Q U E S T I O N-->
<% if( quiz.state === "question") { %>
<div class="header-container">
    <div class="display-question"><%=quiz.question%></div>
</div>
<div class="answers-container"></div>
<div class = "ftr-container">
    <div class="ftr-left"></div>
    <div class="ftr-right"></div>
</div>

<% } %>
<!--c o m p l e t e d -->
<% if (quiz.state === "completed"){%>

<!--<div class="title-text"></div>-->
<!--<div class="sub-text"></div>-->
<!--<div class="display-content"></div>-->
<!--<div class='rectangle-box'>-->
    <!--<div class='rectangle-content'>-->
    <!--</div>-->
<!--</div>-->


<% } %>


<% if (quiz.state === "contentScreen"){%>
<div class="title-text"></div>
<div class="sub-text"></div>
<div class="display-content"></div>
<div class='confirm-box'></div>
<% } %>



<% if (quiz.state === "submitted"){%>

<!--<div class="title-text"></div>-->
<!--<div class="sub-text"></div>-->
<!--<div class="display-content"></div>-->
<!--<div class='rectangle-box'>-->
    <!--<div class='rectangle-content'>-->
    <!--</div>-->
<!--</div>-->

<% } %>

<% if (quiz.state === "reviewAnswer"){%>

<div class="sub-text"></div>
<div class="gotItBox"></div>


<% } %>






<!--H i n t -->
<% if( quiz.state === "hint") { %>

<h2>hint</h2>
<div class = 'hint-container'></div>

<div class='rectangle-box'>
    <div class='rectangle-content'>
back to question
    </div>
</div>

<% } %>
<!--thankyou-->
<% if( quiz.state === "thankyou") { %>

<h1>Thank You</h1>

<% } %>